/*colors*/
$light: #fff;
$color: #751c1e;
$dark: #333;
$offwhite: #ecf0f1;
$lineheight: 1.5;

/*type*/
$font: "Droid Serif", Georgia, Times, "Times New Roman", serif;
$font2: "Droid Sans", Helvetica, Arial, Gill Sans, sans-serif;
$padding: 0 3%;