/*colors*/
/*type*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 5em;
  color: #333333;
  line-height: 1.15;
  font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
}

h2 {
  font-size: 3.25em;
  color: #333333;
  font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
}

h3 {
  font-size: 1.45em;
  color: white;
  font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
}

span {
  color: white;
  font-style: italic;
  font-family: "Droid Sans", Helvetica, Arial, Gill Sans, sans-serif;
}

h5 {
  font-size: .5;
  text-transform: uppercase;
  color: white;
  font-family: "Droid Sans", Helvetica, Arial, Gill Sans, sans-serif;
}

p {
  font-family: "Droid Sans", Helvetica, Arial, Gill Sans, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #333333;
  text-align: left;
}

nav {
  max-width: 100%;
  background-color: #ecf0f1;
}
nav ul {
  margin: 0 auto;
  padding: 15px 0;
}
nav li {
  display: inline-block;
  font-size: .75em;
  padding: 0 .5%;
}
nav a {
  text-decoration: none;
}

/* p styles for each leader */
p.party {
  color: #333333;
}

p.office {
  color: #333333;
}

p.elxn {
  color: #333333;
}

p.strong {
  font-weight: 700;
}

.grid {
  list-style: none;
  text-align: center;
}

.grid li {
  text-align: left;
  position: relative;
}

.grid figure {
  position: relative;
}

.grid figure img {
  max-width: 100%;
}

.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  background: #751c1e;
  color: white;
}

.cs-style-3 figure {
  overflow: hidden;
}

.cs-style-3 figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}

.cs-style-3 figcaption {
  height: 100px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* start header section */
header {
  width: 100%;
  margin-bottom: 175px;
  max-width: 825px;
  height: 250px;
  display: block;
  background: url(http://www.ipolitics.ca/wp-content/uploads/2014/08/51B74309-1560-95DA-4343DE520CEC7629.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.title {
  position: relative;
  padding: 0 5%;
  bottom: -75%;
  clear: both;
  margin-bottom: 15px;
  display: block;
}

/* end header section */
/* main body section */
main {
  max-width: 825px;
  display: block;
  margin: 0 auto;
}

/* end main body section */
/* sections */
.row {
  width: 275px;
  float: left;
  padding: 15px;
  	/*&:nth-child(1) {
  		border: 2px solid purple;
  	}
  
  	&:nth-child(2) {
  		border: 2px solid red;
  	}
  
  	&:nth-child(3) {
  		border: 2px solid blue;
  	}*/
}

.wrapper {
  width: 100%;
  padding-bottom: 5%;
  border-bottom: 10px solid #751c1e;
}
